.topo {
    background-color: rgb(222, 222, 222); 
    border: 1px solid rgb(180, 180, 180);
}

/* FOTO, SOBRE MIM, HABILIDADES DE PROGRAMAÇÃO ---------------------------------------------------- */
.Informacoes {
    background-color: rgb(203, 203, 203);
}
.perfil {
    overflow: hidden; 
}
.sobremim {
    background-color: rgb(222, 222, 222); 
    border: 1px solid rgb(180, 180, 180);
}
.sobre {
    margin-top: 5px;
}
.sobremim p {
    font-size: 14px; 
    color: black; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: justify; 
}

.Habilidades {
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(222, 222, 222); 
}
.Caixa_Habilidades {
    text-align: center;
    width: 100%;
}
.Caixa_Habilidades img {
    background-color: rgba(245, 245, 220, 0) !important;
    max-width: 100px !important;
    filter: grayscale(1);
}

/* PAINEL COM PROJETOS ---------------------------------------------------- */
#painel {
    margin: 10px 0 !important;
    background-color: rgb(203, 203, 203);
} 
.painel_projeto {
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(222, 222, 222);
}
.imagem_projeto{
    overflow: hidden;
}
#img-maior {
    max-width: 210px;
    max-height: 250px;
}

.titulo_projeto{
    max-width: 235px;
    max-height: 38px;
    border-radius: 0 0 5px 5px;
    padding: 7px 4px 5px 4px;
    margin-top: -45px;
    background-color: rgba(0, 0, 0, 0.495);
    position: absolute;
    overflow: hidden;
}
.titulo_projeto span {
    color: aliceblue;
}

/* FOOTER ---------------------------------------------------- */
.Redes_Sociais {
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(222, 222, 222); 
}
.figure_social {
    margin-top: 10px;
}
.icones_social {
    background-color: rgba(245, 245, 220, 0) !important;
    max-width: 60px !important;
}  










.fundo li {display: inline-block;}